/* USERNAME TAGS */
// DEFINE USERS
$cv_admin: (
		"194151269399527425",    // untuned
		"144881947557101568",    // Zerthox
);
$cv_team: (
		"195270435015884800",    // Daemonicdeveloper
		"231693592341512192",    // ByKripsy
		"240437190339854337",    // Leozard
		"126652966265421824",    // Scars
);
$cv_contributor: (
		"335677038830682112",    // Snow
		"236579127090610176",    // Danielle
		"97797564866236416",     // Heebeejeebees
		"150750980097441792",    // Orangutan
);
$cv_donator: (
		// "393883440333979649", // Unknown user
		"262989909411758080",    // coldarchie
		"168551219135119361",    // Auroatic
		"241500427105992704",    // Ghost_Recon131
		"151995147150819328",    // It
		"157699533134888961",    // Jayzer
		"157492606752784384",    // Kazumi
		"174525242939670528",    // lts
		"78890013378486272",     // Macpot
		"213263668312408066",    // Nikolas
		"152431535914614785",    // Paco
		"112619227466182656",    // PieterVMB
		"297873043265552384",    // PureFallen
		"258031697646321666",    // Rich246™
		"109933711142719488",    // Samboy Chips
		"251260900252712962",    // viwalon
		"199184208319610880",    // xImGaming
		"122731339890950145",    // Lilith
		"436228721033216009",    // Hattyot
		"66214870705516544",     // Lordmau5
		"172426681800196096", 	 // Luan San
		"158311402677731328",    // theLMGN
		"284122164582416385",    // Aetheryx
		"107965218868457472",    // Mudock Yatho
		"393900343135830016",    // Nyx
		"183795147236966412",    // blamecoopa
);
$cv_tester: (
		"266991742216175616",    // Alpha$★☆
		"97549189629636608",     // Baked
		"128948605263413248",    // Dingus
		"168481642309091328",    // Jen
		"165581066524950530",    // MoXAriApph
		"102621249892544512",    // Shiniyami ߷
		"94553281296084992",     // Squibbus
		"85410928408924160",     // †电离龙†
		"143476079267414016",    // Reĝino Kastilo
		"131917628800237570",    // FunkoChan
		"155379920242081793", 	 // Dimii04
		"135130130942132224",    // MTPyronaut
		"123340872333918215",    // Purvesh9211
		"250721335305568258",    // Valcreed
		"297041315852713984",    // Zou_Yongqi
		"128006451053592577",    // Rawrcolond
		"102009847792291840",    // SirSuperDeath
		"513423192484872223",    // O...O (yes that's a real username)
		"580867069621567488",    // skyspell413 / Primrose
);
$cv_translator : (
		"538745942493495298"	 // Kuroikitten
);
$cv_cruxie: (
		"332394843743584256",    // cruxie
);
$cv_leafy: (
		"309976820109803520"     // Leafy former CV Team
);

// OUTPUT
%messageContent > img {
	& ~ %messageHeader > %messageUsername::after {
		content: none;
		color: currentcolor;
		text-shadow: 0 0 2px currentcolor;
		border: 1px solid;
		border-radius: 6px;
		margin-left: 8px;
		background-color: rgba(255,255,255,0.07);
		font-size: 10px;
		padding: 0 5px;
	}
	@each $user_id in $cv_admin {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Admin";
		}
	}
	@each $user_id in $cv_team {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Team";
		}
	}
	@each $user_id in $cv_contributor {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Contributor";
		}
	}
	@each $user_id in $cv_donator {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Donator";
		}
	}
	@each $user_id in $cv_tester {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Tester";
		}
	}
	@each $user_id in $cv_translator {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Translator";
		}
	}
	@each $user_id in $cv_cruxie {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "CV Team | Tag Originator";
		}
	}
	@each $user_id in $cv_leafy {
		&[src*="#{$user_id}"] ~ %messageHeader > %messageUsername::after {
		content: "Former CV Team";
		}
	}
}